@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $color-primary;
  //  color:white;
}

header {
  background: $color-secondary;
  height: 100px;
  padding: 30px;
  .title {
    text-align: center;
    background-color: $color-secondary;
    color: $color-primary;
  }
}
.score-board {
  margin: 5rem auto;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  width: 15rem;
  height: 10rem;
  color: white;
  font-size: 50px;
  position: relative;
  padding: 47px;
  &__player {
    padding: 4px;
    border-radius: 10px;
    background-color: $color-divs;
    position: absolute;
    top: 50px;
    left: -8rem;
    font-size: 40px;
  }
  &__comp {
    padding: 4px;
    position: absolute;
    left: 14rem;
    background-color: $color-divs;
    border-radius: 10px;
    top: 50px;
    font-size: 40px;
  }
}
.result {
  font-size: 3rem;

  .resultDisplay {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
  }
}

.images {
 text-align: center;

&__item{
   display: inline-block;
  
}
}
.rock,
.paper,
.scissor
{
   width:10rem;
}

.motivate{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 20px;
}

.name{
    text-align: center;
    background-color: $color-secondary;
    .nameReset{
        margin: 20px;
        background-color: $color-primary;
        color:white;
        border-color: 8px $color-primary;
        font-size: 2rem;
        padding: 5px;
        border-radius: 3rem;
    }
}

@media screen and (min-width:768px){
    .title{
        font-size: 3rem;
    }
    .result{
        font-size: 4rem;
    }
    .motivate{
        font-size: 3rem;
    }
    .name{
        .nameReset{
            padding: 15px;
        }
    }
    .rock,
    .paper,
    .scissor{
        width: 15rem;
    }

} 
