@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Neucha&family=Rubik+Distressed&display=swap');
$font-family:Rubik Distressed,cursive;
$color-primary: black;
$color-secondary: rgb(43, 213, 43);
$color-text: rgb(6, 76, 6);
$color-divs:rgb(95, 154, 95);
$color-extra:rgb(129, 172, 22);